.navbar {
  background-color: #86a8cf;
  color: #fff;
  padding: 10px 20px;
  padding-bottom: 20px;
  display: flex;
  align-items: center;
  height: 100px;
  width: 100%;
  justify-content: left;
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
}

.navbar img {
  width: 60px;
  height: auto;
  margin: 0 20px;
}