.addStudent-form {
  background: #555;
  padding: 20px;
  border-radius: 20px;
  margin-bottom: 20px;
}

.addStudent-form h1 {
  margin-bottom: 10px;
  color: #fff;
}

.addStudent-form label {
  display: block;
  margin-bottom: 5px;
  color: #fff;
}

.addStudent-form input[type="text"],
.addStudent-form input[type="email"],
.addStudent-form input[type="password"],
.addStudent-form select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.addStudent-form button {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.addStudent-form button:hover {
  background-color: #45a049;
}

.studentsList {
  margin-bottom: 20px;
}

.students-table table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ddd;
}

.students-table th,
.students-table td {
  padding: 10px;
  border: 1px solid #ddd;
}

.students-table th {
  background-color: #f2f2f2;
  text-align: left;
}

.students-table tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

.students-table tbody tr:hover {
  background-color: #ddd;
}

.certificates-popup {
  display: block;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.popup-content {
  background-color: #fefefe;
  /* margin: 10% auto; */
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


.activity-points {
  float: right;
  margin-top: 20px;
}

.activity-points h3 {
  margin: 0;
}
